<h1>Step 2: Additional Information</h1>

<%= form_with(model: @user, url: user_registration_path, method: :post) do |f| %>

  <div class="form-group">
    <%= f.label :Photo, 'Upload Photo' %>
    <%= f.file_field :picture %>
  </div>


  <%= f.hidden_field :step, value: 2 %>

  <div class="actions">
    <%= f.submit 'Continue' %>
  </div>
<% end %>

<%= link_to "Previous", new_user_registration_path(user: { step: 1 }) %>
