<%= form_with(model: @user, url: user_registration_path, method: :post, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :photo, 'Upload Photo' %>
    <%= f.file_field :picture, direct_upload: true %>
  </div>

  <%= f.hidden_field :step, value: 2 %>

  <div class="actions">
    <%= f.submit 'Continue' %>
  </div>
<% end %>

<%= link_to "Previous", new_user_registration_path(user: { step: 1 }) %>
