<h1>Step 2: Additional Information</h1>

<%= form_with(model: @user, url: user_registration_path, method: :post) do |f| %>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :postal %>
    <%= f.text_field :postal %>
  </div>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <%= f.hidden_field :step, value: 2 %>

  <div class="actions">
    <%= f.submit 'Continue' %>
  </div>
<% end %>

<%= link_to "Previous", new_user_registration_path(user: { step: 1 }) %>
