<!-- edit_profile.html.erb -->

<h2>Edit Profile</h2>

<%= form_with model: @user, url: profile_path, method: :patch, local: true do |f| %>
  <!-- Include the necessary fields for profile editing -->

  <%= f.file_field :picture %>


  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <div class="field">
    <%= f.label :about_me %>
    <%= f.text_area :about_me, rows: 4, class: "form-control" %>
  </div>

  <!-- Interests -->
  <h3>Interests</h3>
  <% User::INTEREST_CATEGORIES.each do |category| %>
    <label>
      <%= check_box_tag 'user[interests][]', category, @user.interests.include?(category) %>
      <%= category %>
    </label>
  <% end %>

  <!-- Education Percentage -->
  <h3>Education Percentage</h3>
  <%= f.select :education_level, User.education_levels.keys %>

  <!-- Work Percentage -->
  <h3>Work Percentage</h3>
  <%= f.select :work_level, User.work_levels.keys %>

  <!-- Skillset -->
  <h3>Skillset</h3>
  <% User::SKILLSET_CATEGORIES.each do |category| %>
    <label>
      <%= check_box_tag 'user[skillset][]', category, @user.skillset.include?(category) %>
      <%= category %>
    </label>
  <% end %>

  <!-- Language Skills -->
  <h3>Language Skills</h3>
  <% User::LANGUAGE_SKILLS.each do |language| %>
    <label>
      <%= check_box_tag 'user[language_skills][]', language, @user.language_skills.include?(language) %>
      <%= language %>
    </label>
  <% end %>

  <%= f.submit "Save Changes" %>
<% end %>
