<div>
  <link href="./frame14.css" rel="stylesheet" />
  <div class="frame14-container">
    <div class="frame14-frame14">

      <img
        src="/rectangle419072832-aq7-500w.png"
        class="frame14-rectangle41907"
      />
      <span class="frame14-text"><span>My Profile</span></span>
      <div class="frame14-group6923button">
        <div class="frame14-signupbtn">
          <span class="frame14-text02"><span>FAQs &amp; TOS</span></span>
        </div>
      </div>
      <div class="frame14-group6924button">
        <div class="frame14-signupbtn1">
          <span class="frame14-text04"><span>Delete Profile</span></span>
        </div>
      </div>
      <div class="frame14-group6925button">
        <div class="frame14-signupbtn2">
          <span class="frame14-text06"><span>
            <% if user_signed_in? %>
              <%= form_tag(destroy_user_session_path, method: :delete) do %>
                <%= submit_tag 'Log Out', class: 'logout-button' %>
              <% end %>
            <% end %></span></span>
        </div>
      </div>
      <div class="frame14-group6956">
        <span class="frame14-text08"><span>Details</span></span>
        <%= link_to "Edit Profile", edit_path, class: "btn btn-primary" %>
        <div class="frame14-frame6900">
          <div class="frame14-group6898">
            <span class="frame14-text10"><span><p><%= current_user.email %></p></span></span>
            <div class="frame14-groupsvg">
              <div class="frame14-group04">
                <img
                  src="/vector2832-4cfk.svg"
                  alt="Vector2832"
                  class="frame14-vector03"
                />
                <img
                  src="/vector2832-vtxr.svg"
                  alt="Vector2832"
                  class="frame14-vector04"
                />
              </div>
            </div>
          </div>
          <div class="frame14-group6900">
            <span class="frame14-text12"><span><p><%= current_user.phone %></p></span></span>
            <div class="frame14-groupsvg1">
              <div class="frame14-group05">
                <div class="frame14-group06">
                  <img
                    src="/vector2832-k9e.svg"
                    alt="Vector2832"
                    class="frame14-vector05"
                  />
                  <img
                    src="/vector2832-3bg.svg"
                    alt="Vector2832"
                    class="frame14-vector06"
                  />
                  <img
                    src="/vector2832-76tl.svg"
                    alt="Vector2832"
                    class="frame14-vector07"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="frame14-group6899">
            <span class="frame14-text14"><span><%= current_user.area %></span></span>
            <div class="frame14-group07">
              <div class="frame14-groupsvg2">
                <img
                  src="/vector2832-9kdk.svg"
                  alt="Vector2832"
                  class="frame14-vector08"
                />
                <img
                  src="/vector2832-d1.svg"
                  alt="Vector2832"
                  class="frame14-vector09"
                />
              </div>
            </div>
          </div>
          <div class="frame14-group6901">
            <span class="frame14-text16"><span><%= current_user.birthday %></span></span>
            <div class="frame14-group08">
              <div class="frame14-groupsvg3">
                <img
                  src="/cake2832-lru.svg"
                  alt="cake2832"
                  class="frame14-cake"
                />
              </div>
            </div>
          </div>
          <div class="frame14-group6902">
            <span class="frame14-text18"><span><%= current_user.postal %></span></span>
            <div class="frame14-group09">
              <div class="frame14-groupsvg4">
                <img
                  src="/vector2832-kj29.svg"
                  alt="Vector2832"
                  class="frame14-vector10"
                />
                <img
                  src="/vector2832-5g7i.svg"
                  alt="Vector2832"
                  class="frame14-vector11"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame14-group6910">
        <span class="frame14-text20">
          <span>
            <p><%= current_user.about_me %></p>
          </span>
        </span>
        <div class="frame14-group6870">
          <span class="frame14-text22"><span>About Me</span></span>
        </div>
      </div>
      <div class="frame14-group6959">
        <span class="frame14-text24">
          <span><%= current_user.education_level %></span>
        </span>
        <div class="frame14-group68701">
          <span class="frame14-text26"><span>Education</span></span>
        </div>
      </div>
      <div class="frame14-group6960">
        <span class="frame14-text28">
          <span>
            <span>4 Years, Hotel Management</span>
            <br />
            <span><%= User.work_levels.key(current_user.work_level) %></span>
          </span>
        </span>
        <div class="frame14-group68702">
          <span class="frame14-text33"><span>Work Experience</span></span>
        </div>
      </div>
      <div class="frame14-group68703">
        <span class="frame14-text35"><span>Interests</span></span>
      </div>
      <div class="frame14-group6957">
        <span class="frame14-text37"><span>Skillset</span></span>
      </div>
      <div class="frame14-group6958">
        <span class="frame14-text39"><span>Languages</span></span>
      </div>
      </div>
      <div class="frame14-group69571">
        <%= image_tag current_user.picture.url if current_user.picture.attached? %>

        <span class="frame14-text43"><span><%= current_user.name %></p></span></span>

      </div>
      <div class="frame14-group6859">
        <span class="frame14-text45"><span><% current_user.interests.each do |interests| %>
            <%= interests %>
          <% end %></span></span>
      </div>
      <div class="frame14-group6961">
        <span class="frame14-text47"><span>Flucht &amp; Migration</span></span>
      </div>
      <div class="frame14-group6962">
        <span class="frame14-text49"><span>

          <% current_user.skillset.each do |skill| %>
            <%= skill %>
          <% end %>
        </span>
      </div>
      <div class="frame14-group6963">
        <span class="frame14-text51"><span>Social Media</span></span>
      </div>
      <div class="frame14-group6964">
        <span class="frame14-text53"><span>
        <% current_user.language_skills.each do |language| %>
          <span class="frame14-language"><%= language %></span>
        <% end %></span></span>
      </div>
      <div class="frame14-group6965">
        <span class="frame14-text55"><span>Sports</span></span>
      </div>
    </div>
  </div>
</div>
