<div class="col-6 d-flex text-center">

  <!-- <%# Search Action %>
    <%= form_with url: listings_path, method: :get, class: "container" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
      %>
      <div class="frame7-searchbar">
        <span class="frame7-text14"><span>Search Events</span></span>
        <div class="frame7-boxsearch1">
          <div class="frame7-searchfindermagnifyingglass1">
            <div class="frame7-group12">
              <div class="frame7-group13">
                <img
                  alt="Vector1825"
                  src="../../assets/box-search-1.png"
                  class="frame7-vector03"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%#When signed in display new navbar%>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Listings", "/listings", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", "/my_bookings", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "iconlogo.ico", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "/profile", class: "dropdown-item" %>
              <%= link_to "Favorites", "#", class: "dropdown-item" %>
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link"  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
