<div>
  <div class="frame48-container">
    <div class="frame48-frame48">
      <div class="frame48-frame6954">
        <span class="frame48-text"><span><%= @user.hours_worked %></p></span></span>
        <span class="frame48-text02"><span>Helped</span></span>
      </div>
      <div class="frame48-frame6955">
        <span class="frame48-text04"> <%= @user.points %></span>
        <span class="frame48-text05"><span>Lama Points</span></span>
      </div>
      <div class="frame48-frame6956">
        <div class="frame48-group6911">
          <%= image_tag 'polygon-2.png', alt: 'Polygon61263', class: 'frame48-polygon25' %>
          <div class="frame48-frame">
            <%= image_tag 'lvl1.png', alt: 'll11262', class: 'frame48-ll1' %>
          </div>
          <span class="frame48-text07"><span>1 / 1</span></span>
        </div>
        <div class="frame48-group6914">
          <%= image_tag 'polygon-2.png', alt: 'Polygon61263', class: 'frame48-polygon25' %>
          <div class="frame48-frame01">
            <%= image_tag 'lvl2.png', alt: 'll11262', class: 'frame48-ll11' %>
          </div>
          <span class="frame48-text09"><span>2 / 3</span></span>
        </div>
        <div class="frame48-group6915">
          <%= image_tag 'polygon-2.png', alt: 'Polygon61263', class: 'frame48-polygon25' %>
          <div class="frame48-frame03">
            <%= image_tag 'lvl2.png', alt: 'll11262', class: 'frame48-ll15' %>
          </div>
          <span class="frame48-text11"><span>0 / 3</span></span>
        </div>
      </div>
      <div class="frame48-frame6957">
        <div class="frame48-group69151">
          <%= image_tag 'polygon-2.png', alt: 'Polygon61263', class: 'frame48-polygon25' %>
          <%= image_tag 'gift.png', alt: 'll11262', class: 'frame48-frame05' %>
          <span class="frame48-text13"><span>0 / 4</span></span>
        </div>
        <div class="frame48-group6916">
          <%= image_tag 'polygon-2.png', alt: 'Polygon61263', class: 'frame48-polygon25' %>
          <div class="frame48-frame06">
            <%= image_tag 'lvl1.png', alt: 'll11262', class: 'frame48-ll13' %>
          </div>
          <span class="frame48-text15"><span>0 / 6</span></span>
        </div>
        <div class="frame48-group6917">
          <%= image_tag 'polygon-2.png', alt: 'Polygon61263', class: 'frame48-polygon25' %>
          <div class="frame48-frame08">
            <%= image_tag 'lvl2.png', alt: 'll11262', class: 'frame48-ll14' %>
          </div>
          <span class="frame48-text17"><span>0 / 8</span></span>
        </div>
      </div>
      <div class="frame48-group6953">
        <div class="frame48-group6952">
          <%= image_tag 'polygon-7.png', alt: 'Polygon71263', class: 'frame48-polygon7' %>
          <%= image_tag 'polygon-6.png', alt: 'Polygon61263', class: 'frame48-polygon6' %>
        </div>
          <%= image_tag 'Karmalama.png', alt: 'HelferherzKarmalama11263', class: 'frame48-helferherz-karmalama1' %>
        <div class="frame48-group6950">
          <%= image_tag 'levelmeter.png', alt: 'IsolationMode1263', class: 'frame48-isolation-mode' %>
          <span class="frame48-text19">
          <span>Lvl<%= @level %> </span>
          </span>
        </div>
      </div>
      <span class="frame48-text21"><span>Levels</span></span>
      <img src="/line101263-htgt.svg" alt="Line101263" class="frame48-line10" />
      <%= image_tag 'rectangle41910.png', alt: 'Rectangle419101261', class: 'frame48-rectangle41910' %>
      <span class="frame48-text23"><span>My Impact</span></span>
    </div>
  </div>
</div>
